* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(135deg, #00b7d4, #505488, #2f3f80, #161569, #5a4894, #a950a1, #ff7cae);
  background-size: 600%;
  animation: fade 10s infinite; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

@keyframes fade {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.header {
  background-color: #100c31;
  color: #e2ef80;
  padding: 30px 20px; }
  .header__content {
    display: flex;
    justify-content: center; }
    .header__content-navbar {
      display: flex;
      /* background-color:rgb(94, 78, 239) ; */
      padding: 10px;
      width: auto;
      justify-content: center;
      margin-top: 30px;
      overflow: hidden;
      font-weight: bold; }
      .header__content-navbar li {
        margin: 0 51px;
        transition: transform 0.3s; }
        .header__content-navbar li:active {
          transform: scale(0.9); }
        .header__content-navbar li a {
          color: #e2e8f0; }
          .header__content-navbar li a:hover {
            color: #00b7d4; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-content: center; }
    .header__logo img {
      justify-content: center;
      align-content: center; }
  .header__searchbox {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    height: 33px;
    border-radius: 50px; }
    .header__searchbox-escribir {
      width: 800px; }

@media (max-width: 1010px) {
  .header__content-navbar {
    display: flex;
    /* background-color:rgb(94, 78, 239) ; */
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    justify-content: center; }
  .header__content-navbar li {
    padding: 10px; } }

@media (max-width: 395px) {
  .content__navbar {
    display: flex;
    /* background-color:rgb(94, 78, 239) ; */
    padding: 10px;
    width: auto;
    justify-content: center;
    margin-top: 30px;
    overflow: hidden;
    font-weight: bold;
    font-size: 13px; } }

.main {
  height: auto; }
  .main__imagenes {
    display: grid;
    margin-bottom: 200px; }
    .main__imagenes-contenedor {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-around;
      align-items: center;
      gap: 50px; }
      .main__imagenes-contenedor img {
        background-color: white;
        border-radius: 10px;
        background-size: 100%;
        height: 200px;
        width: 250px; }
      .main__imagenes-contenedor div {
        display: flex;
        justify-content: center;
        transition: transform 0.3s; }
        .main__imagenes-contenedor div:hover {
          transform: translateY(-15px); }
  .main__banner {
    position: relative;
    top: 50px;
    height: 100%;
    width: 100%; }
  .main__patrocinadores {
    position: relative;
    top: 150px; }
    .main__patrocinadores-texto {
      text-align: center;
      font-size: 30px;
      position: relative;
      bottom: 50px;
      font-weight: bold; }

@media (max-width: 850px) {
  .main__imagenes {
    grid-template-columns: 1fr; }
  .main__imagenes img {
    height: 340px;
    width: 340px; } }

@media (max-width: 500px) {
  .main__imagenes img {
    background-color: white;
    border-radius: 10px;
    background-size: 100%;
    height: 200px;
    width: 250px; } }

.footer {
  background-color: #100c31;
  width: 100%; }
  .footer__general {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .footer__general-caja figure {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      margin-left: 100px; }
      .footer__general-caja figure img {
        width: 150px; }
    .footer__general-caja h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .footer__general-caja p {
      color: #efefef;
      margin-bottom: 10px; }
    .footer__general-redes a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #290367;
      text-align: center; }
  .footer__derechos {
    background-color: #19023e;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    .footer__derechos small {
      font-size: 15px; }

@media (max-width: 800px) {
  .footer__general {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

.main__servicios__text {
  text-align: center;
  font-size: 150%;
  color: #b1b1b1;
  margin-top: 50px; }

.main_servicios {
  height: auto;
  margin-bottom: 100px; }

.main__contenedor__servicios {
  display: grid;
  margin-top: 50px; }

.main__imagenes__servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px; }

.main__imagenes__servicios div {
  display: flex;
  justify-content: center;
  transition: transform 0.3s; }

.main__imagenes__servicios div:hover {
  background-color: rgba(135, 135, 135, 0.716);
  transform: translateY(15px); }

.servicios__linea1 {
  border-radius: 20px;
  min-height: 250px;
  font-weight: bold;
  padding: 20px;
  background-color: rgba(60, 16, 234, 0.324);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.servicios__linea2 {
  border-radius: 20px;
  min-height: 250px;
  font-weight: bold;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.331);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.servicios__linea1 img {
  max-width: 200px;
  max-height: 200px; }

.servicios__linea2 img {
  max-width: 200px;
  max-height: 200px; }
