.form-text {
    font-weight: bold;

}

.main__newsletter {
    height: auto;
    position: relative;
    margin-bottom: 70px;
    border: none;

    h2 {
        display: flex;
    justify-content: center;
    top: 30px;
    position: relative;
    font-size: 30px;
    }
    
}