* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient( 135deg,#00b7d4, #505488,#2f3f80, #161569, #5a4894,#a950a1,#ff7cae);
    background-size: 600%;
    animation: fade 10s infinite;
    
    

}



.main_index {

   height: auto;
    


}




a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

.header {
    background-color: rgb(16, 12, 49);
    color: #e2e8f0;
    padding: 30px 20px;
}


.header__content {
    display: flex;
    justify-content: center;
}

.content__navbar {
    display: flex ;
    /* background-color:rgb(94, 78, 239) ; */
    padding:  10px;
    width: auto;
    justify-content: center;
    margin-top: 30px;
    overflow: hidden;
    font-weight: bold;
}


.content__navbar li {
    margin: 0 51px;
   
    
}

.content__navbar li a {
    color: #e2e8f0;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo img {
    justify-content: center;
    align-content: center;
}

.searchbox {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    height: 33px;
    border-radius: 50px;
    
}

.searchbox__escribir {
    width: 800px;
}

.position {
    position: relative;
}

.main__banner {
 position: relative;
 top: 50px;
 height: 100%;
 width: 100%;
}

.main__patrocinadores {
    position: relative;
    top:150px ;
}

.main__patrocinadores__texto {
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 50px;
}

.main_imagenes__contenedor {
    display: grid;
    margin-bottom: 200px;
    
    /* justify-content: space-around;  */
}

.main__imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    
    
}  

.main__imagenes img {
    background-color: white;
    border-radius: 10px;
    background-size: 100%;
    height: 200px;
    width: 250px;
    
}

.main__imagenes div {
    display: flex;
    justify-content: center;
}

.footer {
    background-color:rgb(16, 12, 49) ;
    width: 100%;
    
    
    
}

.footer__general {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .footer__general .footer__caja figure{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 100px;
    
}

.footer .footer__general .footer__caja figure img {
    width: 150px;
    
  

}

.footer .footer__general .footer__caja h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .footer__general .footer__caja p {
    color: #efefef;
    margin-bottom:10px;
}

.footer .footer__general .redes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(41, 3, 103);
    text-align: center;

}

.footer .derechos {
    background-color: rgb(25, 2, 62);
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}

.footer .derechos small {
    font-size: 15px;
}






/* seccion Arma tu pc  */

.main_armatupc {
 height: auto;
 margin-bottom: 100px;
    

}

.main_ram {
    position: relative;
    top: 20px; ;
    left: 400px;
}

.main_grafica {
    position: relative;
    top: 20px;
    left:755px;
}

.main_almacenamiento {
    position: relative;
    top: 20px;
    left: 1140px;
}

.main_linea1 {
    position: relative;
    display:flex ;
    justify-content: space-evenly;
    top: 100px;
}

.main_linea2 {
    position: relative;
    top: 220px;
    
    
}

.main_linea3 {
    position: relative;
   display: flex ;
   justify-content: space-evenly;
   top: 220px;
}

.main__seleccionar_text {
    text-align: center;
    font-size: 40px;
    position: relative;
    justify-content: center;
    top: 40px;
    font-weight: 4000;
    
}

/* seccion Servicios */
 
.main__servicios__text {
    text-align: center;
    font-size: 150%;
    color: rgb(177, 177, 177);
    margin-top: 50px;
}

.main_servicios {
   
    height: auto;
    margin-bottom: 100px;
   

    
}

.main__contenedor__servicios {
   display: grid;
   margin-top: 50px;
    

}

.main__imagenes__servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.servicios__div {
    border-radius: 20px;
    min-height: 250px;
    
    font-weight: bold;
    padding: 20px;
    background-color: rgba(135, 135, 135, 0.324);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.servicios__div img {
    max-width: 200px;
    max-height: 200px;
}



/* seccion Preguntas */

.main_preguntas {
   
    height: auto;
   margin-bottom: 100px;
    position: relative;

    
}

.main__preguntas__titulo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top:50px;
   font-size: 50px;
   color: white;
}

.main__preguntas__preguntas {
  
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}

.main__preguntas__preguntas a {
    color: black;
}

/* seccion Contacto */

.main__newsletter {
    height: auto;
    position: relative;
    margin-bottom: 100px;
    border: none;
    
}

.main__newsletter1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    font-size: 20px;
    font-weight: bold;
    
    
}

.main__newsletter2 {
    display: flex;
    justify-content: center;
    top: 30px;
    position: relative;
    font-size: 30px;
}

@media (max-width:1010px)  {
    .content__navbar {
        display: flex ;
        /* background-color:rgb(94, 78, 239) ; */
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        justify-content: center;
    }

    .content__navbar li {
       padding: 10px;
       
        
    }

    .main__imagenes__servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      
        gap: 50px;
    }

    .servicios__div {
        border-radius: 20px;
        height: 40%px;
        width: 45%px;
        font-weight: bold;
        padding: 20px;
        background-color: rgba(135, 135, 135, 0.324);
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    }

}
@media (max-width:850px) {
    .main__imagenes {
    grid-template-columns: 1fr;
    }

    .main__imagenes img {
        height: 340px;
        width: 340px;
    }
}

@media  (max-width:800px){
    .footer__general {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media (max-width:700px) {
    .main__preguntas__titulo {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top:20px;
         font-size: 35px;
         color: white;
      }
      .main__preguntas__preguntas {
  
        margin-top: 50px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        
    }

    .main_preguntas {
   
        height: auto;
       margin-bottom: 50px;
        position: relative;
    
        
    }
}

@media (max-width:500px) {
    .main__imagenes img {
        background-color: white;
        border-radius: 10px;
        background-size: 100%;
        height: 200px;
        width: 250px;
        
    }

    .content__navbar {
        display: flex ;
        /* background-color:rgb(94, 78, 239) ; */
        padding:  10px;
        width: auto;
        justify-content: center;
        margin-top: 30px;
        overflow: hidden;
        font-weight: bold;
        font-size: 20px;
    }
    .main__preguntas__titulo {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top:30px;
         font-size: 23px;
         color: white;
      }

      .main__preguntas__preguntas {
  
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        
    }

    .main_preguntas {
   
        height: auto;
       margin-bottom: 30px;
        position: relative;
    
        
    }
}

@media (max-width:395px){
    .content__navbar {
        display: flex ;
        /* background-color:rgb(94, 78, 239) ; */
        padding:  10px;
        width: auto;
        justify-content: center;
        margin-top: 30px;
        overflow: hidden;
        font-weight: bold;
        font-size: 13px;
    }
}
    


@keyframes fade {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

